@font-face
{
	font-family: 'titre';
	src: url('font/SnakeStitch.ttf');

}

h1
{
	font-family: 'titre';
	text-align: center;
	font-size: 100px;
	font-style: italic;
	color: #0c4e0c;
}

#titre
{
	width: 50px;
}
 #entete
 {
 	display: inline;
 }