@font-face
{
	font-family: 'Titre';
<<<<<<< HEAD
	src: url('font/SnakeStitch.ttf');
=======
	src: url('SnakeStitch.ttf');
>>>>>>> f6766634bf1e6383eed48a07b46daca4e9c38982
}

h1
{
	font-family: 'Titre';
	text-align: center;
	font-size: 100px;
	font-style: italic;
}
